<p>
  <b>Customer name:</b>
  <%=h @order.customer_name %>
</p>
<p>
  <b>Status:</b>
  <%=h @order.status %>
</p>


<table>
<% @order.trainings.each do |training| %>
	<tr><td><%=training.name%></td><td><%=training.price%></td></tr>
<% end%>
</table>
<p>
Total price: <%= @order.total_price %>
</p>

<%= link_to 'Back', orders_path %>